In [1]:
import pandas as pd
import requests

In [ ]:
from src.data.download_DHS import GBD_API_KEY

In [49]:
url = 'fhttps://api.healthdata.org/healthdata/v1/data/gbd/cause/?cause_id=294&location_id=102&measure_id=1&metric_id=1&year_id=2016&authorization={GBD_API_KEY}'

In [65]:
# I DON'T THINK COVARIATES WORK 
# url = f'https://api.healthdata.org/healthdata/v1/data/gbd/covariate/?covariate_id=8&location_id=102&year_id=2016&authorization={GBD_API_KEY}'

In [96]:
# Risk 
# Attributable Risk 
url = 'https://api.healthdata.org/healthdata/v1/data/gbd/risk/?risk_id=82&cause_id=294&location_id=102&measure_id=1&metric_id=1&year_id=2016&age_group_id=1&authorization={GBD_API_KEY}'
# SEV - Remember these must be most detailed risks!
url = 'https://api.healthdata.org/healthdata/v1/data/gbd/sev/?risk_id=82&measure_id=29&metric_id=3&year_id=2016&age_group_id=1&authorization={GBD_API_KEY}'
url = 'https://api.healthdata.org/healthdata/v1/data/gbd/sev/?risk_id=83&measure_id=29&location_id=102&age_group_id=5&sex_id=3&authorization={GBD_API_KEY}'

In [97]:
r = requests.get(url)
status = r.json()['meta']['status']
if status['code'] != '200': 
    raise AssertionError(f'Failed HealthData API query - {status["message"]}')

In [98]:
cols = r.json()['meta']['fields']
df = pd.DataFrame(r.json()['data'], columns=cols)

In [99]:
df.head()

,measure_id,year_id,location_id,sex_id,age_group_id,risk_id,metric_id,val,upper,lower
0,29,2005,102,3,5,83,3,0.0057252189919,0.00674183340846,0.00388205519801
1,29,2003,102,3,5,83,3,0.00669831152562,0.00793557933359,0.00442603847619
2,29,1990,102,3,5,83,3,0.0175299746752,0.0210764459432,0.0111091497981
3,29,2006,102,3,5,83,3,0.00555107860062,0.00651869305108,0.00374861700836
4,29,1996,102,3,5,83,3,0.0155767638014,0.018816854468,0.0100743593595